.font-color{
  color: #eee4d7;
}

.left-text{
  text-align: left;
}

.login-form {
  font-size: 18px;
  background-color: #9a2d19;
  color: #eee4d7;
}

.hero{

  .container-fluid{
    padding-top: 5%;
    width: 100%;
  }

  height: 100vh;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;

  img{
    position: absolute;
    height: auto;
    height: 100vh;
    width: 100%;
    display: block;

    //this centers the overflow
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  } 

  .gradient {
    content: '';
    height: 100vh;
    background-image: linear-gradient(to bottom right,#c73915,#e7b439);
    opacity: .8; 

  }

  .hero-text {
    text-align: center;
    // @media screen and (max-width: 768px) {
    //   top: 60%;
    // }

    h1 {
      font-size: 8rem;
      font-weight: 500;
      @media screen and (max-width: 425px) {
        font-size: 5rem;
      }
    }

    h2{
      font-size: 3.5rem;
      font-weight: 300;
      @media screen and (max-width: 425px) {
        font-size: 2rem;
      }
    }
  }

}

.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  font-size: 24px;

  a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
}

.button {
  background-color: transparent; 
  color: #eee4d7; 
  border: 2px solid #eee4d7;
  width: 250px;
}

.button:hover {
  background-color: #eee4d7;
  color: #9a2d19;

  a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    font-size: 24px;
}

.button {
    background-color: transparent; 
    color: #eee4d7; 
    border: 2px solid #eee4d7;
    width: 250px;
}

.button:hover {
    background-color: #eee4d7;
    color: #9a2d19;
}


.absolute{
  position: absolute;
}

.top-layer{
  z-index: 999;
}

.big-y-margin{
  margin-top: 5%;
}

.huge-y-margin{
  margin-top: 100px;
}

.y-margin{
  margin-top: 15px;
}

.yy-margin{
  margin-top: 30px;
}

.y-margin-bot{
  margin-bottom: 15px;
}

.btn-outline {
  background-color: transparent;
  color: #eee4d7;
  transition: all .5s;
}