	<div class="container-fluid font-color">
		<div class="hero">
			<div class="container-fluid absolute top-layer hero-text">
				<div class="row">
					<h1>Congrats!</h1>
					<h2 class="yy-margin">You've claimed your free meal.</h2>
					<h2>Meal value ${{mealValue}}</h2>
				</div>

				<div class="row huge-y-margin">
					<h1>Your code is {{verificationCode}}</h1>
					<h2>Please make sure you write down your code to present when ordering.</h2>
					<h2>Meal expires on {{mealExpiration}} </h2>
				</div>

				<div class="row huge-y-margin">
					<button type="button" class="button"><a href = "#!/">Log out</a></button>
				</div>

			</div>
			<div class="gradient"></div>
		</div>
	</div>