	<div class="container-fluid font-color">
		<div class="hero">
			<div class="container-fluid absolute top-layer hero-text">
				<div class="row">
					<h1>This account is no longer eligible for free meals.</h1>
				</div>

				<div class="row huge-y-margin">
					<h2>Questions? Email help@hotmeals.com</h2>
				</div>

				<div class="row huge-y-margin">
					<button type="button" class="btn btn-outline-warning">Log out</button>
				</div>

			</div>
			<img src="img\splash-pic.jpg">
			<div class="gradient"></div>
		</div>
	</div>