<div class="container-fluid font-color">
  <div class="hero">
    <div class="container-fluid absolute hero-text top-layer signup-form">

      <div class="row"> 
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <h2>Login to Your Account</h2>
          <fieldset class="row left-text input-group">
            <div class="signup-row input-group row">
              <span class="login-form input-group-addon" id="login-email">Email</span>
              <input type="text" class="form-control" placeholder="Eg. james777@gmail.com" aria-describedby="login-email" data-ng-model="email">
            </div>
            <div class="signup-row input-group row">
              <span class="login-form input-group-addon" id="login-password">Password</span>
              <input type="password" class="form-control" placeholder="*****" aria-describedby="login-password" data-ng-model="password">
            </div>

          </fieldset>
          <div class="y-margin row">
              <h3>Photo-Id Authentication</h3>
          </div>
          <div class="row photo-auth container">
            <span class="camera col-md-2">
                <video id="video">Video stream not available.</video>
                <button id="startbutton">Take photo</button> 
            </span>
            <span> 
            <canvas id="canvas">
            </canvas>
            </span>
            <span class="output col-md-2">
                <img id="photo" alt="The screen capture will appear in this box."> 
            </span>
          </div>
          <div class="row sy-margin">
            <button type="button" class="button" ng-click="submit()">Log In</button> 
          </div>
        </div>  
      </div>
      
    </div>
    <div class="gradient"></div>
  </div>
</div>
