<html>
<head>
  <title>Login-Page</title>
  <meta charset='utf-8'>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/main.css" type="text/css" media="all">

  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
  <!-- <link href='/s/shared.css'> -->
</head>
<body>
<div class="container-fluid font-color">
  <div class="hero">
    <div class="container-fluid absolute hero-text top-layer signup-form">

      <div class="row"> 
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <h2>Login to Your Account</h2>
          <fieldset class="row left-text input-group">
            <div class="signup-row input-group row">
              <span class="login-form input-group-addon" id="login-email">Email</span>
              <input type="text" class="form-control" placeholder="Eg. james777@gmail.com" aria-describedby="login-email" data-ng-model="email">
            </div>
            <div class="signup-row input-group row">
              <span class="login-form input-group-addon" id="login-password">Password</span>
              <input type="password" class="form-control" placeholder="*****" aria-describedby="login-password" data-ng-model="password">
            </div>

          </fieldset>
          <div class="y-margin row">
              <h3>Photo-Id Authentication</h3>
          </div>
          <div class="row photo-auth container">
            <span class="camera col-md-2">
                <video id="video">Video stream not available.</video>
                <button id="startbutton">Take photo</button> 
            </span>
            <span> 
            <canvas id="canvas col-md-2">
            </canvas>
            </span>
            <span class="output col-md-2">
                <img id="photo" alt="The screen capture will appear in this box."> 
            </span>
          </div>
          <div class="row sy-margin">
            <button type="button" class="button" ng-click="submit">Log In</button> 
          </div>
        </div>  
      </div>
      
    </div>
    <div class="gradient"></div>
  </div>
</div>
  

<div class="container">
   <br> 
</div>

<div class="container">
   <div class="col-md-6">
   <h4>Photo-Id Authentication</h4>
</div>
</div>
            <div class="container">
                <div class="col-md-6">

                <div class="camera">
                    <video id="video">Video stream not available.</video>
                    <button id="startbutton">Take photo</button> 
                </div>
                <canvas id="canvas">
                </canvas>
                <div class="output">
                    <img id="photo" alt="The screen capture will appear in this box."> 
                </div>
            </div>
        </div>
        <br>
        <span class="container col-md-6">
       <button type="button" class="btn btn-primary" ng-click="login()">LOGIN</button>
        </span>  
  <script src="capture.js">
  </script>
</body>
