<html>
<head>
    <title>Login-Page</title>
    <meta charset='utf-8'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css" type="text/css" media="all">

    <!-- <link href='/s/shared.css'> --></head>
    <body>



<span class="col-md-4">
</span>
<span class="col-md-6">
    

    <div class="container">
    <br>
    <br>
    </div>
    <div class="container">
    <div class="col-md-4">
    <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Email-Address</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>
  </div>
</div>

<div class="container">
   <br> 
</div>

<div class="container">
    
<div class="col-md-4">
<div class="input-group">
  <input type="text" class="form-control" placeholder="*****" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">Password</span>


</div>
</div>
</div>


<div class="container">
   <br> 
</div>



<div class="container">
   <div class="col-md-6">
   <h4>Photo-Id Authentication</h4>
</div>
</div>
            <div class="container">
                <div class="col-md-6">

                <div class="camera">
                    <video id="video">Video stream not available.</video>
                    <button id="startbutton">Take photo</button> 
                </div>
                <canvas id="canvas">
                </canvas>
                <div class="output">
                    <img id="photo" alt="The screen capture will appear in this box."> 
                </div>
            </div>
        </div>
        <br>
        <span class="container col-md-6">
       <button type="button" class="btn btn-primary">LOGIN</button>
        </span>
        

</span>


    <script src="capture.js">
    </script>
