	<div class="container-fluid font-color">
		<div class="hero">
			<div class="container-fluid absolute top-layer hero-text">
				<div class="row">
					<h1>:(</h1>
					<h2 class="yy-margin">You are currently not eligible for a Hot Meal.</h2>
				</div>

				<div class="row huge-y-margin">
					<h2>Your next meal will be available at {{time}} {{date}}</h2>
				</div>

				<div class="row huge-y-margin">
					<button type="button" class="button"><a href = "#!/">Log out</a></button>
				</div>

			</div>
			<div class="gradient"></div>
		</div>
	</div>