	<div class="container-fluid font-color">
		<div class="hero">
			<div class="container-fluid absolute top-layer hero-text">
				<div class="row">
					<h1>:(</h1>
					<h2>You are currently not eligible for a Hot Meal.</h2>
				</div>

				<div class="row huge-y-margin">
					<h2>Your next meal will be available at **TIME** **DATE (ie today/tomorrow)**</h2>
				</div>

				<div class="row huge-y-margin">
					<button type="button" class="btn btn-outline-warning">Log out</button>
				</div>

			</div>
			<div class="gradient"></div>
		</div>
	</div>