
<div class="container-fluid font-color">
	<div class="hero">
		<div class="container-fluid absolute hero-text top-layer signup-form">

			<div class="row">	
				<div class="col-md-4"></div>

				<div class="col-md-4">
					<h2>Register an Account</h2>
					<fieldset class="row left-text input-group">
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-first-name">First-Name</span>
							<input type="text" class="form-control" placeholder="Eg. James" aria-describedby="signup-first-name" data-ng-model="name">
						</div>
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-last-name">Last-Name</span>
							<input type="text" class="form-control" placeholder="Eg. Bond" aria-describedby="signup-last-name" data-ng-model="lastName">
						</div>
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-email">Email</span>
							<input type="text" class="form-control" placeholder="Eg. james777@gmail.com" aria-describedby="signup-email" data-ng-model="email">
						</div>
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-password">Password</span>
							<input type="password" class="form-control" placeholder="*****" aria-describedby="signup-password" data-ng-model="password">
						</div>
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-confirm-password">Confirm-Password</span>
							<input type="password" class="form-control" placeholder="*****" aria-describedby="signup-confirm-password">
						</div>

					</fieldset>
					<div class="yy-margin">
						<button type="button" class="button" ng-click="submit()">Create Account</button>	
					</div>
				</div>	
			</div>
		</div>
		<div class="gradient"></div>
	</div>
</div>

