	<!-- <div class="container-fluid font-color">
		<div class="hero">
			<div class="container-fluid absolute top-layer hero-text">

			<div class="row">
					<h1>Create Account</h1>
					<h2></h2>
				</div>

				<fieldset>
			        <p>
			          <label>First Name</label>
			          <input type = "text"
			                 id = "firstName"
			                 value = "" />
			        </p>
			        <p>
			          <label>Last Name</label>
			          <input type = "text"
			                 id = "lastName"
			                 value = "" />
			        </p>
			        <p>
			          <label>Email Address</label>
			          <input type = "Email"
			                 id = "email"
			                 value = "" />
			        </p>
			        <p>
			          <label>Password</label>
			          <input type = "password"
			                  id = "password"
			                  value = "" />
			        </p>
			        <p>
			          <label>Confirm Password</label>
			          <input type = "password"
			                  id = "confirmPassword"
			                  value = "" />
			        </p>
			    </fieldset>

				<div class="row huge-y-margin">
						<button type="button" class="btn btn-success-outline">Create Account</button>	
				</div>

			</div>
			<div class="gradient"></div>	
		</div>
	</div> -->
<html>
<head>
    <title>SignUp-Page</title>
    <meta charset='utf-8'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css" type="text/css" media="all">

    <!-- <link href='/s/shared.css'> --></head>
<body>
<span class="col-md-6">
    

    <div class="container">
    <br>
    <br>
    </div>
    <div class="container">
    <div class="col-md-4">
    <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">First-Name</span>
  <input type="text" class="form-control" placeholder="Eg. James" aria-describedby="basic-addon1">
  </div>
  </div>
</div>

<div class="container">
   <br> 
</div>

<div class="container">
    <div class="col-md-4">
    <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Last-Name</span>
  <input type="text" class="form-control" placeholder="Eg. Bond" aria-describedby="basic-addon1">
  </div>
  </div>
</div>

<div class="container">
   <br> 
</div>

<div class="container">
    <div class="col-md-4">
    <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Email</span>
  <input type="text" class="form-control" placeholder="Eg. james777@gmail.com" aria-describedby="basic-addon1">
  </div>
  </div>
</div>

<div class="container">
   <br> 
</div>

<div class="container">
    
<div class="col-md-4">
<div class="input-group">
  <input type="text" class="form-control" placeholder="*****" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">Password</span>


</div>
</div>
</div>


<div class="container">
   <br> 
</div>

<div class="container">
    
<div class="col-md-4">
<div class="input-group">
  <input type="text" class="form-control" placeholder="*****" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">Confirm-Password</span>


</div>
</div>
</div>

<div class="container">
<div class="col-md-2">
<div class="camera">
                    <video id="video">Video stream not available.</video>
                    <button id="startbutton">Take photo</button> 
                </div>
                <canvas id="canvas">
                </canvas>
                <div class="output">
                    <img id="photo" alt="The screen capture will appear in this box."> 
                </div>
                </div>
                </div>




</span>
<script src="app/capture.js">
</script>
</body>
</html>

