
<link rel="stylesheet" href="styles/main.css" type="text/css" media="all">
<div class="container-fluid font-color">
	<div class="hero">
		<div class="container-fluid absolute hero-text top-layer signup-form more-space">

			<div class="row">	
				<div class="col-md-4"></div>

				<div class="col-md-4">
					<h2>Register an Account</h2>
					<fieldset class="row left-text input-group">
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-first-name">First-Name</span>
							<input type="text" class="form-control" placeholder="Eg. James" aria-describedby="signup-first-name" data-ng-model="name">
						</div>
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-last-name">Last-Name</span>
							<input type="text" class="form-control" placeholder="Eg. Bond" aria-describedby="signup-last-name" data-ng-model="lastName">
						</div>
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-email">Email</span>
							<input type="text" class="form-control" placeholder="Eg. james777@gmail.com" aria-describedby="signup-email" data-ng-model="email">
						</div>
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-password">Password</span>
							<input type="password" class="form-control" placeholder="*****" aria-describedby="signup-password" data-ng-model="password">
						</div>
						<div class="signup-row input-group row">
							<span class="login-form input-group-addon" id="signup-confirm-password">Confirm-Password</span>
							<input type="password" class="form-control" placeholder="*****" aria-describedby="signup-confirm-password"  data-ng-model="confirmPassword">
						</div>

					</fieldset>

					<div class="row yy-margin ">


           <div id="webcam" ng-if="showweb">
            <webcam channel="webcam.channel"
            on-streaming="webcam.onSuccess()"
            on-error="webcam.onError(err)"
            on-stream="webcam.onStream(stream)"></webcam>

            <button class="button" type="button" ng-click="webcam.makeSnapshot()">Capture</button>
            <canvas ng-hide="true" id="snapshot" width="200" height="200"></canvas>
          </div>
          
            <img data-ng-src="{{'data:' + fotoContentType + ';base64,' + photo}}" style="max-height: 100px;" ng-if="photo"/>

          <div class="row yy-margin">
            <button type="button" class="button" ng-click="submit">Create Account</button> 
          </div>
        </div>	      
      </div>
    </div>
  </div>
  <div class="gradient"></div>
</div>