	<div class="container-fluid font-color">
		<div class="hero">
			<div class="container-fluid absolute top-layer hero-text">

				<div class="row">
					<h1>Warm Meal</h1>
					<h2>Lorem ipsums dipsum flipsum dimsum</h2>
				</div>

				<div class="row huge-y-margin">
					<h2>Would You Like To...</h2>
				</div>

				<div class="row huge-y-margin">
					<div><button type="button" class="button">Login</button></div>
					<div><button type="button" class="button">Sign Up</button></div>
				</div>

			</div>
			<img src="img\splash-pic.jpg">
			<div class="gradient"></div>
		</div>
	</div>