	<div class="container-fluid font-color">
		<div class="hero">
			<div class="container-fluid absolute top-layer hero-text">
				<div class="row">
					<h1>Hot Meals</h1>
					<h2>Building our community one meal at a time</h2>
				</div>

				<div class="row huge-y-margin">
					<h2>Would You Like To...</h2>
				</div>

				<div class="row huge-y-margin">
					<div><button type="button" class="button">Login</button></div>
					<div><button type="button" class="button"><a href="#!/signup">Sign Up</a></button></div>

				</div>

			</div>
			<img src="img\splash-pic.jpg">
			<div class="gradient"></div>
		</div>
	</div>