	<div class="container-fluid font-color">
		<div class="hero">
			<div class="container-fluid absolute top-layer hero-text">
				<div class="row">
					<h2>You have selected</h2>
					<h1>**Restaurant Name**</h1>
					<img src="img\splash-pic.jpg">
				</div>

				<div class="row huge-y-margin">
					<h2>**Address**</h2>
					<h2>**Distance** miles from your location!</h2>
					<h2>Voucher will expire today at **Time**</h2>
				</div>

				<div class="row huge-y-margin">
					<div class="col-md-3"></div>
					<div class="col-md-1">
						<!-- <button type="button" class="btn btn-success-outline">Login</button> -->
						<button type="button" class="btn btn-outline-warning">Confirm</button>
					</div>
					<div class="col-md-4"></div>
					<div class="col-md-1">
						<button type="button" class="btn btn-success-outline">Cancel</button>
					</div>		
				</div>

			</div>
			
			<div class="gradient"></div>
		</div>
	</div>