#video {
  border: 1px solid #9a2d19;
  width:200px;
  height:200px;
}

#photo {
  border: 1px solid #9a2d19;
  width:200px;
  height:200px;
  padding-top: 25px; 
  padding-bottom: 25px
}

#canvas {
  display:none;
}

.camera {
  width:200px;
  height:200px;
  right:20px;
  display:inline-block;
}

.output {
  left:20px;
  width:200px;
  height:200px; 
  display:inline-block;
}

#startbutton {
  display:block;
  position:relative;
  margin-left: 50px;
  width:100px;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

#dirty-photo{
  
}