.font-color {
  color: #eee4d7; }

.hero {
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  overflow: hidden; }
  .hero .container-fluid {
    padding-top: 5%;
    width: 100%; }
  .hero img {
    position: absolute;
    height: auto;
    height: 100vh;
    width: 100%;
    display: block;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .hero .gradient {
    content: '';
    height: 100vh;
    background-image: linear-gradient(to bottom right, #c73915, #e7b439);
    opacity: .8; }
  .hero .hero-text {
    color: #fff;
    text-align: center; }
    .hero .hero-text h1 {
      font-size: 8rem;
      font-weight: 500; }
      @media screen and (max-width: 425px) {
        .hero .hero-text h1 {
          font-size: 5rem; } }
    .hero .hero-text h2 {
      font-size: 3.5rem;
      font-weight: 300; }
      @media screen and (max-width: 425px) {
        .hero .hero-text h2 {
          font-size: 2rem; } }

.absolute {
  position: absolute; }

.top-layer {
  z-index: 999; }

.big-y-margin {
  margin-top: 5%; }

.huge-y-margin {
  margin-top: 10%; }

.y-margin {
  margin-top: 15px; }

.yy-margin {
  margin-top: 30px; }

.y-margin-bot {
  margin-bottom: 15px; }
